@import url('https://fonts.googleapis.com/css2?family=Iansui&family=Monomakh&display=swap');

:root {
    --primary-color: #bbd4ea;
    --bs-gutter-x: 1.5rem;
}

.errMessage {
    font-size: .8rem;
}

.bg-custom-primary {
    background-color: var(--primary-color);
}

.z-3 {
    z-index: 3;
}

.monomakh-regular {
    font-family: "Monomakh", system-ui;
    font-weight: 400;
    font-style: normal;
}


* {
    font-family: "Iansui", cursive;
    font-weight: 600;
    font-style: normal;
}