<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/83772345fd.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-light navbar-expand-lg border-bottom bg-custom-primary">
            <div class="container-fluid">
                <a class="navbar-brand fs-monomakh-regular" asp-area="" asp-controller="Home" asp-action="Dashboard">Library Management App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link active mx-2" aria-current="page" asp-area="" asp-controller="Home" asp-action="Dashboard">Home</a>
                        <a class="nav-link mx-2" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                        <span class="ms-4"></span>
                        <a class="nav-link mx-2" asp-area="" asp-controller="User" asp-action="Logout"><i class="fa-solid fa-right-from-bracket me-1"></i>Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - <span class="fs-monomakh-regular">Library Management App</span> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
        </div>
    </footer>

    @await Html.PartialAsync("_Loader")
    @await Html.PartialAsync("_GenericModal")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/crypto-js/crypto-js.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/datatables/datatables.min.js" asp-append-version="true"></script>

    <script>
        $(function () {
            loader(false);

            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
