<div id="loader" style="display: block;">
    <div class="position-fixed top-0 start-0 vw-100 vh-100 bg-dark bg-opacity-25 z-3 d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-spinner fa-spin-pulse" style="color: #0b5ed7; font-size: 3rem;"></i>
    </div>
</div>
