<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

   @*  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monomakh&display=swap" rel="stylesheet"> *@

    <script src="https://kit.fontawesome.com/83772345fd.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="bg-custom-primary">
    <main role="main">
        @RenderBody()
    </main>

    @await Html.PartialAsync("_Loader")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/crypto-js/crypto-js.min.js"></script>
    <script src="~/js/site.js"></script>

    <script>
        $(function () {
            loader(false);
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
